:root {
  --primary-color: #b0e0e6;
  --secondary-color: #ff7e67;
  --tertiary-color: #22313f;
  --default-font: "Poppins", sans-serif;
  --heading-font: "Playfair Display", serif;
  --text-color: #35495e;
  --project-img-border: 3px solid var(--primary-color);
  --background: #e7f2f5;
}

nav {
  background-color: var(--background);
}
nav ul {
  margin-right: 30px;
}
.nav-item {
  padding-right: 50px;
}
.navbar-brand {
  margin-left: 60px;
}
.nav-link.active {
  font-weight: 500;
  color: var(--secondary-color) !important;
}
.top-space {
  margin-top: 80px;
}
body {
  color: var(--text-color);
  font-size: 16px;
  background-color: var(--background);
}
.feature,
footer p,
h4 {
  font-size: 18px;
  line-height: 27px;
}
.hero {
  text-align: center;
  margin: 0 auto;
  background-color: var(--primary-color);
  padding: 80px 0;
  line-height: 2;
}
.hero h2,
.email,
.home-icons {
  font-size: 24px;
}
a {
  text-decoration: none;
  color: var(--tertiary-color);
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 48px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 700px;
  color: var(--tertiary-color);
}
.hero h2,
h4 {
  font-family: var(--default-font);
}
h5 {
  font-size: 24px;
  line-height: 36px;
}
.intro {
  font-family: var(--default-font);
  font-size: 36px;
  font-weight: 700;
  color: var(--tertiary-color);
  margin-bottom: 0;
}
.btn-branding {
  background-color: var(--secondary-color);
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 3px 3px 3px var(--tertiary-color);
}
.btn-branding:hover {
  background-color: var(--primary-color);
}
.about-img {
  height: 400px;
  border-radius: 50%;
}
.project-img {
  height: 300px;
  border-radius: 25px;
}
.works-img {
  height: 350px;
  border-radius: 30px;
}
.project-img,
.about-img,
.works-img {
  padding: 10px;
  border: var(--project-img-border);
}

.enquiry {
  margin: 50px 0;
  background-color: var(--primary-color);
  padding: 30px;
  border-radius: 20px;
}
.home-icons {
  padding: 12px;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin: 10px;
}
.home-icons:hover {
  background-color: var(--secondary-color);
}
.email:hover,
.coder a:hover {
  color: var(--secondary-color);
}
.coder p {
  background-color: var(--tertiary-color);
  margin-bottom: 0;
  padding: 20px;
  color: white;
}
.coder a {
  color: var(--primary-color);
}
footer {
  margin-top: 100px;
}
/* mobile devices */
@media (max-width: 576px) {
  .nav-link {
    text-align: left;
  }
  .navbar-brand {
    margin-left: 0;
  }
  body {
    text-align: center;
  }
  .top-space {
    margin-top: 10px;
  }
  .hero {
    padding: 20px 0;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 18px;
  }
  h3,
  h4,
  .hero h2,
  .feature,
  footer p,
  .email,
  .home-icons {
    font-size: 14px;
  }

  .project-info {
    font-size: 12px;
  }
  .bespoke {
    padding-top: 50px;
  }
  .project-img,
  .works-img {
    height: 200px;
  }
  .about-img {
    height: 250px;
    margin-top: 50px;
  }
  .project-content h2 {
    padding-top: 15px;
  }
  footer {
    margin-top: 50px;
  }
}
